{% if app.request.attributes.get('_route') == 'app_home' %}
<div style="
background: linear-gradient(275deg,rgb(167, 163, 163) 37%, rgba(255, 0, 30, 1) 100%); padding-top: 20px; height: 100vh;  ">

{% elseif app.request.attributes.get('_route') == 'app_product' %}
<div style="background-color:green">
{% endif %}
<header>
	<div id="ltu">
		<div id="logo">
			<img src="{{asset('assets/imguti/logo.png')}}" alt="logo" id="logo">
		</div>
		<h1>BugsKnight</h1>

		<div id="coninsc">
			{% if app.user %}
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{path('admin')}}">Admin</a>
				{% endif %}
				<a href="{{path('app_inventory')}}">Inventory</a>
				<a href="{{path('app_logout')}}" id="logout">Log out</a>
			{% else %}
				<a href="{{path('app_register')}}">Sign in</a>

				<a href="{{path('app_login')}}">Log in</a>

			{% endif %}
		</div>
	</div>
	<nav>
		<a href="{{path('app_home')}}">
			<button>Home</button>
		</a>
		<a href="{{path('app_product')}}">
			<button>Product</button>
		</a>
		<a href="{{path('app_cart')}}">
			<button>Cart</button>
		</a>

	</nav>
</header>
